// Fonts
/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/nunito-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/nunito-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body{
    background-image: url("../bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12pt;
}

.container-fluid#nav{
    max-width: 60vw;
}

.card{
    margin: 0 auto 20px;
    float: none;
    position: center;
    max-width: 50vw;
    overflow-x: hidden;
    padding: 5px;
    max-height: 87vh;
}

.overview{
    height: 85vh;
}

.card-img{
    overflow: hidden;
}

.card-header{
    background-color: rgb(220,220,220, 0.9);
    padding: 10px;
    color: black;
    text-align: center;
    border-radius: 0.6em;
}

.card-text{
    background-color: rgb(220,220,220, 0.9);
    padding: 10px;
    color: black;
    border-radius: 0.6em;
}

.pagination{
    position: absolute;
    bottom: 0;
}

.pagination > li > a,
.pagination > li > span {
    padding-top: 10px;
    color: #23114c;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #23114c;
    border-color: #23114c;
}


a.choices {
    width: 20vw;
    background-color: lightgrey;
    padding: 0.6em 1.5em;
    border-radius: 0.6em;
    text-decoration: none;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    margin: auto;
}

a.choices:hover {
    background-color: #23114c;
    color: white;
}

a.play {
    background-color: lightgrey;
    display: inline-block;
    width: 25%;
    padding: 0.6em 1.5em;
    margin: 0 0.1em 0.1em 0;
    border-radius: 0.6em;
    text-decoration: none;
    color: #000000;
    float: right;
    overflow: hidden;
    text-align: center;
    transition: all 0.2s;
}

a.play:hover {
    background-color: #23114c;
    color: white;
}

#searchBar{
    text-align: left;
    padding-bottom: 1em;
    border: 1px solid red;
}

ul.list-group{
    margin-top: 20%;
}

a.dropdown-item:hover{
    background-color: #23114c;
}

// Decision Tree
.test{
    background-color: #fff;
    margin: 0 auto 20px;
    float: none;
    position: center;
    max-width: 30vw;
    overflow-x: hidden;
    padding: 5px;
    max-height: 87vh;
}

#test{
    background-color: #fff;
    margin: 0 auto 20px;
    float: none;
    position: center;
    max-width: 30vw;
    overflow-x: hidden;
    padding: 5px;
    max-height: 87vh;
}



.input-plus {
    display: flex;
}

.inputs-set {
    border: none;
}
.choices-input {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.btn-submit,
.btn-add-choice,
.btn-del-choice {
    border: none;
    padding: 8px 12px;
}

.btn-submit {
    background-color: rgb(152, 247, 199);
}

.btn-add-choice{
    border: none;
    background-color: green;
}

.btn-del-choice {
    background-color: red;
}


@media only screen and (max-width: 1642px){

    body{
        background-size: cover;
        background-repeat: inherit;
    }

    .container-fluid#nav{
        max-width: 100vw;
    }

    .card{
        height: 100%;
        overflow: auto;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .card-img{
        height: 100vh;
        object-fit: cover;
        overflow-x: hidden;
    }

    a.play{
        width: 50%;
    }

    a.choices{
        width: 50%;
    }
}

// Responsive for mobile
@media only screen and (max-width: 841px) {

    body{
        background-size: cover;
        background-repeat: inherit;
    }

    .container-fluid{
        height: 90%;
        width: 100%;
    }

    .card{
        height: 100%;
        overflow: auto;
        float: none;
        position: center;
        overflow-x: hidden;
    }

    .card-img{
        height: 100vh;
        object-fit: cover;
        overflow-x: hidden;
    }

    .overview{
        height: 100%;
    }

    .pagination{
        position: relative;
        bottom: 0;
        flex-wrap: wrap;
    }

    .pagination .page-item:nth-child(n+5):nth-last-child(n+5) {
        display:none;
    }

    .pagination .page-item:nth-child(4):after {
        display:block;
    }

    td{
        font-size: 0.8em;
        text-align: left;
    }
    th{
        font-size: 0.9em;
    }

    a.play{
        width: 100%;
    }

    a.choices{
        width: 100%;
    }

    a.nav-link{
        text-align: right;
    }
}
