// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.container {
    max-width: 80vw;
}

.card{
    margin: 0 auto;
    float: none;
    padding: 10px;
    position: center;
    max-width: 50vw;
    max-height: 50vh;
}

.card-img{
    overflow: hidden;
}

.card-header{
    background-color: rgb(220,220,220, 0.8);
    padding: 10px;
    color: black;
    text-align: center;
    border-radius: 0.6em;
}

.card-text{
    background-color: rgb(220,220,220, 0.8);
    padding: 10px;
    color: black;
    border-radius: 0.6em;
}

a.choices {
    width: 20vw;
    background-color: lightgrey;
    padding: 0.6em 1.5em;
    margin: 0 0.1em 0.1em 0;
    border-radius: 0.6em;
    text-decoration: none;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

a.choices:hover {
    background-color: #23114c;
    color: white;
}

a.play {
    background-color: lightgrey;
    display: inline-block;
    width: 15%;
    padding: 0.6em 1.5em;
    margin: 0 0.1em 0.1em 0;
    border-radius: 0.6em;
    text-decoration: none;
    color: #000000;
    float: right;
    overflow: hidden;
    text-align: center;
    transition: all 0.2s;
}

a.play:hover {
    background-color: #23114c;
    color: white;
}

#searchBar{
    text-align: left;
    padding-bottom: 1em;
}

// Responsive for mobile
@media only screen and (max-width: 768px) {
    a.play{
        width: 100%;
    }
}
